:root {
    --light: #FFFAF0;
    --dark: #696969;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1;
}

body {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../../public/img/weather.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem;
    color: var(--light);
    font-family: montserrat, sans-serif;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color: #fff;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/*container stuff*/
.container {
    display: flex;
    justify-content: space-between;
}

.weather-info {
    padding: 2rem;
    max-width: 500px;
}

.weather-info h1 {
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.weather-info h1::first-letter {
    text-transform: capitalize;
}

.weather-info h3 {
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.weather-info p:nth-of-type(1) {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.weather-info p {
    font-size: 1rem;
    font-weight: normal;
}

.weather-details {
    padding: 2rem;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.minTemp {
    display: flex;
    margin-bottom: 3rem;
}

.minTemp #id {
    margin-right: 1rem;
}

.minTemp #detail {
    font-size: 3rem;
    padding: 3rem;
}

.maxTemp {
    display: flex;
    margin-bottom: 3rem;
}

.maxTemp #id {
    margin-right: 1rem;
}

.maxTemp #detail {
    font-size: 3rem;
    padding: 3rem;
}

@media(max-width:730px) {
    .btn-search:focus~.input-search {
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    .input-search:focus {
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .weather-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #weather {
        font-size: 2rem;
    }

    #city {
        font-size: 1rem;
    }

    #temp {
        font-size: 2rem;
    }
}

@media(max-width:420px) {
    .btn-search:focus~.input-search {
        width: 250px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    .input-search:focus {
        width: 250px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }


    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .weather-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #weather {
        font-size: 2rem;
    }

    #city {
        font-size: 1rem;
    }

    #temp {
        font-size: 2rem;
    }
}

@media(max-width:390px) {
    .btn-search:focus~.input-search {
        width: 200px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    .input-search:focus {
        width: 200px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

}